<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
            .message-welcome {
                font-size: 30px;
                color: rgb(55, 55, 212);
            }
            .button-click {
                text-decoration: none;
                color: rgb(55, 55, 212);
                cursor: pointer;
            }
            .button-click:hover {
                opacity: 0.9;
            }

        </style>
    </head>
    <body>
        <p class="message-welcome">
            Olá, <span th:text="${name}"></span>!
        </p>

        <p>
            Especialidades Disponíveis
        </p>
        <ul th:remove="all-but-first">
            <li th:each="tech : ${especialidades}" th:text="${tech}"></li>
        </ul>
        <p>
            <a href="http://localhost:3000/" class="button-click">Ver na plataforma</a>
        </p>
    </body>
</html>